<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/clients-course-style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <title>Редагувати коментар</title>
</head>

<body>
    <header>
        <div class="nav-container">
            <nav>
                <a href="/" class="makeupstudio">Pinky</a>

                <ul class="nav-menu">
                    <li><a href="/clients" class="links">наші послуги</a></li>
                    <li><a href="/courses" class="links">наші курси</a></li>
                    <li><a href="/comments" class="links">відгуки</a></li>
                    <li><a href="/#masters" class="links">майстри</a></li>
                    <li><a href="/#footer" class="links">контакти</a></li>
                </ul>
                <button class="nav-menu-btn ">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                
                    <div class="container2">
                       
                        <button  class="btn bth-nav-menu2" id="logbutton"  >Повернутись</button> 
                        <button href="/" class="btn bth-nav-menu" id="fbutton" onclick="LogformOpen42()">Редагувати</button>  
                    </div>
                       

            </nav>
            <script>
                let menuBtn = document.querySelector('.nav-menu-btn');
                let menuNav = document.querySelector('.nav-menu');
                menuBtn.addEventListener('click', function () {
                    menuBtn.classList.toggle('active');
                    menuNav.classList.toggle('open');
                })
            </script>

        </div>


    </header>
   
    <div class="register-box" id="showform">
        <h2>Редагувати</h2> <button id="close_button" onclick="LogformClose42()">x</button>
        <form action="/edit_comment/<%- comment._id %>" role="form" method="post">
            <div class="user-box">
                <input name="name" type="text" value="<%- comment.name %>" required>
                <label>Ім'я</label>
            </div>

            <div class="select">
                <select name="services" id="">
                    <option selected disabled>Оберіть послугу</option>
                    <option type="text">Вечірній макіяж</option>
                    <option type="text">Повсякденний макіяж</option>
                    <option type="text">Весільний макіяж</option>
                </select>
            </div>
            <div class="select">
                <select name="masters" id="">
                    <option selected disabled>Оберіть майстра</option>
                    <option type="text">Аманда</option>
                    <option type="text">Стефан</option>
                    <option type="text">Анна</option>
                    <option type="text">Вікторія</option>
                </select>
            </div>
            <div class="user-box">
                <input name="review" type="textarea" value="<%- comment.review %>" required>
                <label>Відгук</label>
            </div>
            <div class="user-box">
                <input name="rating" type="number" min="1" max="5" step="0.5" value="<%- comment.rating %>" required>
                <label>Оцінка</label>
            </div>
            <button>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Зберегти
            </button>
        </form>
    </div>


   
   
    <script>
         function LogformOpen42() {
            const form5 = document.querySelector('.register-box');
            form5.classList.remove('close');
                form5.classList.add('open');
        
        }  function LogformClose42() {
                const form5 = document.querySelector('.register-box');
                form5.classList.remove('open');
                form5.classList.add('close');
               
            }
    </script>
</body>

</html>